:root {
  /* ## Colors */

  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Light-gray);
  font-size: 15px;
  display: flex;
  font-family: Arial;
  position: relative;
}

img {
  width: 100%;
}

.toy-cardd {
  display: grid;
  grid-template-columns: repeat(3, 190px);
  column-gap: 2rem;
  justify-content: center;
}

@media (max-width: 750px) {
  .toy-cardd {
    grid-template-columns: 250px;
    gap: 2rem;
  }

  .toycard h2 {
    font-size: 2rem;
  }

  .toycard hr {
    width: 80%;
  }

  .toycard button {
    width: 100%;
  }

  /* cart */
  .cart {
    padding: 10px;
  }

  .added-cart {
    flex-direction: column;
  }

}

.toy-cardd,
.cart {
  margin-bottom: 52px;
}

.toycard {
  background-color: var(--White);
  border: 1px solid var(--White);
  box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.09);
  border-radius: 6px;
}

.toycard div {
  padding: 18px;
}

.toycard img {
  border-radius: 6px 6px 0 0;
}

.toycard h2 {
  font-size: 1rem;
  margin: 10px 0;
  color: var(--Grayish-blue);
}

.toycard hr {
  width: 90px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: aliceblue;
}

.toycard p {
  color: var(--Grayish-blue);
  margin: 10px 0;
  font-weight: bold;
}

.toycard p span {
  color: gray;
}

.toycard button,
.added-cart button {
  background-color: rgb(8, 141, 250);
  color: var(--White);
  border: 0;
  padding: 8px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.toycard button:hover,
.added-cart button:hover {
  opacity: .8;
}

.toycard button:active,
.added-cart button:active {
  opacity: .6;
}

/* Cart */
.cart {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

.cart h2,
h1 {
  color: var(--Dark-blue);
}

.cart h1 {
  margin-top: 30px;
  font-size: 1.5rem;
  text-align: center;
}

.cart-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.added-cart {
  display: flex;
  gap: 20px;
  background-color: white;
  align-items: center;
  row-gap: 20px;
  justify-content: space-between;
}

.added-cart img {
  width: 100px;
  border-radius: 6px;
}

.cart-name-quantity-price {
  display: flex;
  gap: 20px;
  color: var(--Grayish-blue);
  font-size: 1rem;
}

/* QR code  */
.card-container {
  display: flex;
  justify-content: center;
}

.card {
  background-color: var(--White);
  width: 350px;
  border-radius: 10px;
}

.card img {
  border-radius: 10px 10px 0 0;
}

.text-container {
  padding: 20px;
  text-align: center;
}

.text-container h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.text-container p {
  font-size: .80rem;
  color: var(--Grayish-blue);
}